.movie {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  height: 400px;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
  .wrapper {
    height: 700px;
  }
}

.movie-content {
  max-width: 1024px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .movie-content {
    flex-direction: column;
  }
}

.movie-home-card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.movie-home-img {
  position: absolute;
  max-height: 100%;
  width: 100%;
  border-radius: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.movie-home-title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.movie-home-text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  max-height: 0;
  transition: all 0.3s ease;
}

.movie-home-card:hover {
  height: 270px;
}

.movie-home-card:hover .info {
  height: 90%;
}

// .movie-home-card:hover .movie-home-text {
//   transition: all 0.3s ease;
//   max-height: 40px;
//   position: absolute;
//   bottom: 20%;
// }

.movie-home-card:hover .movie-home-icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.movie-home-card:hover .movie-home-icon i {
  background: linear-gradient(90deg, #ff7e7e, #ff4848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}

.MuiContainer-root {
  margin-top: 100px;
  padding-top: 50px;
}

.btns {
  position: absolute;
  bottom: 0;
  left: 0;
}
