.detail {
  //   max-width: 700px;
  //   max-height: 100vh;
  position: relative;
  padding-top: 80px;
  margin-top: 120px;

  .css-1vc6k3q {
    margin-top: 30px;
  }

  &__bg {
    // position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    position: absolute;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: 1;
      background: linear-gradient(
        180deg,
        rgba(19, 23, 32, 0.5) 0%,
        #131720 100%
      );
      pointer-events: none;
    }
  }

  &__trailer {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    // &-btn {
    //   position: absolute;
    //   z-index: 1;
    //   top: 5%;
    //   left: 18%;
    //   // display: none;
    // }
  }

  &__content {
    margin-top: 450px;
    padding-top: 20px;
    position: relative;
    z-index: 99;
    height: 400px;
    color: #fff !important;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: 1;
      background: linear-gradient(
        180deg,
        rgba(19, 23, 32, 0.1) 0%,
        #131720 100%
      );
      pointer-events: none;
    }
  }

  &__info {
    margin-left: 6rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    color: #fff !important;
  }

  &__items {
    margin-left: 10rem;
  }

  &__item {
    padding: 4px 0;
  }

  &-movieInfo {
    width: 60%;

    margin: 0 auto;

    color: #fff !important;
  }

  .ant-tabs-tab {
    color: #fff !important;
  }
  .ant-tabs-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .ant-tabs-tab-btn {
    transition: all 0.5 ease;
  }
  .ant-tabs-tab {
    margin: 0 80px;
    padding: 0 20px;

    &:hover {
      cursor: pointer;

      .ant-tabs-tab-btn {
        color: rgba(0, 0, 255, 0.897);
      }
    }
  }
}

// Youtube trailer
.video-trailer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
  width: 1000px;
  height: 500px;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
  .video-trailer {
    width: 450px;
    height: 300px;
    transform: translate(-50%, -120%);
  }
}

@media screen and (min-width: 576px) {
  .video-trailer {
    width: 700px;
    height: 450px;
    transform: translate(-50%, -85%);
  }
}

@media screen and (min-width: 767px) {
  .video-trailer {
    height: 450px;
    transform: translate(-50%, -90%);
  }
}

@media screen and (min-width: 998px) {
  .video-trailer {
    width: 900px;
    height: 500px;
    transform: translate(-50%, -90%);
  }
}

@media screen and (min-width: 1200px) {
  .video-trailer {
    width: 1000px;
    height: 500px;
    transform: translate(-50%, -90%);
  }
}
